.Shipping-info{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
 
 
}
.Shipping-form{
    display: inline-grid;
    gap: 10px;
    width: 40%;

    
}
.Shipping-form input{
    height: 40px;
    border-radius: 3px;
    border: 1px solid gainsboro;

}